/* **************** CARD DROPDOWN ****************** */
.card-dropdown {
	.dropdown-wrapper {
		margin-bottom: 20px;
		position: relative;
	}

	.dropdown-button {
		background: #fff;
		border-radius: 0;
		color: #6a6a6a;
		overflow: visible;
		padding: 0 35px 0 10px;
		position: relative;
		width: 100%;
		text-transform: none;
		text-align: left;
		&::after {
			content: '';
			display: inline-block;
			border: 4px solid transparent;
			border-bottom: 7px solid transparent;
			position: absolute;
			right: 20px;
			bottom: -10px;
			z-index: 2;
		}
		&.active {
			background: #26a69a;
			color: #94d9e8;
			&::after {
				border-bottom-color: #fff
			}

			.badge-item {
				border-left-color: transparent;

				&::before {
					border-color: #94d9e8;
				}

				&::after {
					border-top-color: #ffefff;
					top: 43%;
					transform: translate(-50%, -50%) rotate(180deg);
				}
			}
		}

		.badge-item {
			border-left: 1px solid #dadada;
			display: inline-block;
			height: 100%;
			width: 35px;
			position: absolute;
			top: 0;
			right: 0;

			&::before {
				content: '';
				background: transparent;
				border: 1px solid #58585a;
				border-radius: 50%;
				display: inline-block;
				height: 22px;
				width: 22px;
				z-index: 1;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&::after {
				content: '';
				border: 4px solid transparent;
				border-top: 4px solid #2e2e2e;
				display: inline-block;
				transition: all .2s ease-in-out;
				position: absolute;
				top: 59%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;
			}
		}
	}

	.dropdown-content {
		margin-top: 10px;
		&.active {
			display: block;
			width: 100%;
			opacity: 1;
		}

		> li {
			border-bottom: 2px solid #a1c0bb;
			&:last-child {
				border-bottom: 0;
			}
		}

		.dropdown-content__item {
			color: #767676;
			&:hover {
				text-decoration: none;
			}
		}
	}
}