/* **************** CARD SLIDER ****************** */
.card-slider {
	background: #fff;
	padding: 0 0 50px;
	position: relative;

	.carousel-arr {
		position: absolute;
		bottom: 0;
	}
}

.main-slider.carousel {
	text-align: center;
	position: relative;
	overflow: visible;

	.carousel-track {
		height: 100%;
		overflow: hidden;
		position: relative;
	}

	.indicators {
		display: inline-block;
		margin: 0 50px;
		position: static;
	}

	.indicator-item {
		background-color: #00bbb3;
		border: 2px solid #00bbb3;
		height: 13px;
		margin: 18px 4px;
		width: 13px;
	}
}

.carousel-arr {
	border-radius: 0;
	background-color: #00bbb3;
	cursor: pointer;
	display: inline-block;
	padding: 0;
	position: relative;
	height: 50px;
	width: 45px;
	z-index: 20;
	&:focus {
		background-color: #00bbb3;
	}
	&:hover {
		background-color: #049c96;
	}

	&.carousel-prev {
		left: 0;

		.arr-img {
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}

	&.carousel-next {
		right: 0;
	}

	.arr-img {
		background: transparent;
		border-radius: 50%;
		border: 1px solid #fff;
		height: 30px;
		width: 30px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&::before {
			content: '';
			display: inline-block;
			width: 10px;
			height: 10px;
			border-top: 2px solid #fff;
			border-right: 2px solid #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-66%, -50%) rotate(45deg);
		}
	}
}

.carousel-item__img {
	.img {
		max-height: 200px;
		max-width: none;
		width: 100%;
	}
}